# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\PC PRO ULTRA RAPIDE\Documents\modules\design patterns et architecture logicielle\DesignPatternInterpreter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
